body {
    max-width: 50em;
    margin: 2em auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

th,
td {
    padding: 0.5em 1.0em;
    border-bottom: 1px solid black;
}

th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}

td:first-child {
    text-align: left;
}