h1 {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: initial;
    font-size: 2.0em;
}

h1:hover {
    text-decoration: underline;
}

#blog-intro {
    padding: 1.0em;
    background-color: #f0f0f0;
}