main {
    margin-top: 0;
    padding-top: 0;
}

#title {
    font-family: monospace;
}

#timeline {
    display: grid;
    grid-template-columns: 5em 1em auto;
}

.timeline-element::before {
    display: block;
    position: absolute;
    left: -6px;
    top: 1em;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #666;
    content: "";
}

.timeline-element {
    position: relative;
    border-left: 3px solid #999;
}

article {
    padding: 0.8em 0.5em;
}

.timeline-date {
    padding: 0.8em;
    text-align: right;
    padding-right: 1.3em;
    opacity: 50%;
    font-size: 10pt;
    margin-top: 0.3em;
}

article a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 5px;
}

article a:hover {
    text-decoration: underline;
}

article span { opacity: 75%; }

.timeline-element:first-of-type {
    margin-top: 1.1em;
}

.timeline-element:first-of-type::before {
    top: 0;
}

.timeline-element:last-of-type {
    height: 1.25em;
    margin-bottom: auto;
}

footer {
    margin-top: 1.0em;
    text-align: center;
}