@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {

    max-width: 47rem;
    padding: 1.0em;
    margin: 1.0em auto;
    position: relative;
    overflow-x: hidden;
    background-color: var(--main-background-color);
    color: var(--text-color);

    /* text*/
    font-family: IBM Plex Sans, 'sans serif';
    font-size: 1.1em;

    transition: background-color 0.3s;

}

p, li {
    line-height: 1.5em;
}

h1 {
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid var(--header-border-color);
}

table {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    padding: 0.75em;
}

th {
    border-bottom: 1px solid var(--table-header-border-color);
}

tr:not(:last-child) td {
    border-bottom: 1px solid var(--table-cell-border-color);
}

.section-link {
    opacity: 50%;
    font-weight: normal;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    color: initial;
}

h1:hover .section-link, h2:hover .section-link {
    visibility: visible;
}

img, .center, figure{
    display: block;
    max-width: 100%;
    margin: 1.5em auto;
}


figure img, figure video {
    width: 100%;
    margin: 0;
}

figcaption {
    font-size: 10.5pt;
    margin: 1.0em 0;
}

footer p {
    font-size: 11pt;
    opacity: 75%;
    margin-top: 2.0em;
}

.date {
    opacity: 50%;
    font-size: 10pt;
    margin-top: 2.0em;
    margin-bottom: 0;
}

blockquote {
    border-left: 3px solid #888;
    opacity: 80%;
    padding: 0.1em 1.0em;
    margin: 0;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

a, a:visited { color: var(--link-color); }
a:hover { color: var(--link-hover-color); }

aside {
    border-radius: 5px;
    border: 1px solid var(--aside-border-color);
    background-color: var(--aside-background-color);
    padding: 0 1.0em;
    margin: 1.0em 0;
}

aside.warning {
    border: 1px solid var(--warning-border-color);
    background-color: var(--warning-background-color);
}

code {
    font-size: 12pt;
}

button {
    cursor: pointer;
}

/* "conversation" tables */
.conversation {
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* rows */
.conversation > div {
    display: flex;
    flex-direction: row;
}

/* float text */
.conversation-header div:last-child {
    text-align: right;
}

.conversation-header div {
    border-bottom: 1px solid var(--table-header-border-color);
    padding: 0.5em 0 !important;
}

.conversation div div {
    flex-grow: 1;
    padding: 1.0em 0;
}

.conversation div div:first-child { text-align: left; }
.conversation div div:last-child { text-align: right; }

.client-says, .server-says {
    flex-basis: 60%;
}

.client-says { color: #00bf00; }
.server-says { color: #ff0000; }

.conversation-center {
    flex-basis: 100%;
    text-align: center !important; /* too lazy to grok the priorities at play  here */
}

.limited-height-code pre {
    max-height: 30em;
    overflow: auto;
}

/* contents */
nav {
    position: fixed;
    top: 0;
    left: -15rem;
    width: 15rem;
    transition: 0.5s ease;
    z-index: 2;
}

#contents {
    padding: 0 1.0em;
    color: var(--toc-text-color);
    background-color: var(--toc-bg-color);
    overflow-y: auto;
    height: 100vh;
}

#contents > p:first-child {
    text-decoration: underline;
    font-weight: bold;
}

#contents a { text-decoration: none; color: var(--toc-text-color); }
#contents a:hover { color: var(--toc-hover-color); }

.shown {
    left: 0 !important; /* couldn't be bothered to fix this priority issue
                           cause i really needed to take a dump */
}

#show-toc {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--toc-bg-color);
    border: none;
    font-size: 12pt;
    font-family: inherit;
    width: 7em;
    padding: 0.5em;
    color: var(--toc-text-color);
}

/* imgview stuff */
#img-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    background-color: rgba(0, 0, 0, 75%);
    margin: 0;
    z-index: 3;
}

.indented {
    padding: 0 1.0em;
}

img {cursor: pointer;}

.katex { font-size: 1.15em; }

/* ----- SERIF MODE ----- */
.serif body {
    font-family: "Source Serif Pro", serif;
    font-size: 14pt;
}

.serif p, li {
    line-height: 1.5em;
}

.serif .date {
    font-size: 12pt;
}

.serif h1 {
    font-size: 1.7em;
}

.serif main h1 {
    margin-top: 1.0em;
}

.serif code {
    font-size: 13pt;
}

/* ----- COLOR SCHEMES ----- */
html {
    --main-background-color: #ffffff;
    --text-color: #000000;
    --header-border-color: #cccccc;
    --table-header-border-color: #000000;
    --table-cell-border-color: #cccccc;
    --link-color: #000000;
    --link-hover-color: #888888;
    --aside-border-color: #4287f5;
    --aside-background-color: rgba(66, 135, 245, 15%);
    --warning-border-color: #f54242;
    --warning-background-color: rgba(245, 66, 66, 15%);
    --toc-text-color: #ffffff;
    --toc-hover-color: #cacaca;
    --toc-bg-color: #000000;
}

.darkmode {
    color-scheme: dark;
    --main-background-color: #18191E;
    --text-color: #ffffff;
    --header-border-color: #555555;
    --table-header-border-color: #ffffff;
    --table-cell-border-color: #555555;
    --link-color: #ffffff;
    --link-hover-color: #bbbbbb;
    --toc-bg-color: #333333;
}

.serif {
    --text-color: #131313;
    --link-color: #131313;
}

.serif.darkmode {
    --text-color: #ffffff;
    --link-color: #ffffff;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}