.highlights {
    display: flex;
    flex-direction: column;
}

.highlights > div {
    display: flex;
    flex-direction: row;
}

.highlights > div > div {
    display: flex;
    flex-grow: 1;
}

.highlights > div:nth-child(odd) { background-color: #f0f0f0; }
.highlights > div:nth-child(even) { background-color: #e5e5e5; }

.highlights > div:nth-child(odd) > img { order: 0; }
.highlights > div:nth-child(odd) > div { order: 1; }
.highlights > div:nth-child(even) > img { order: 1; }
.highlights > div:nth-child(even) > div { order: 0; }

.highlights img {
    margin: 0;
    max-width: unset;
    height: 9em;
    display: flex;
}

.highlights span {
    margin: auto;
    padding: 2em;
    font-size: 18px;
}