.highlights {
    display: flex;
    flex-direction: column;
}

.highlights > div {
    display: flex;
    flex-direction: row;
}

.left div:first-child, .right div:nth-child(2) {
    display: flex;
    flex-grow: 1;
}

.left div { background-color: #f0f0f0; }
.right div { background-color: #e5e5e5; }

.darkmode .left div { background-color: #333333; }
.darkmode .right div { background-color: #222222; }

.highlights img {
    margin: 0;
    max-width: unset;
    height: 9em;
    display: flex;
}

.highlights span {
    margin: auto;
    padding: 2em;
    font-size: 18px;
}

body {
    max-width: 38em;
}