.highlights {
    display: flex;
    flex-direction: column;
}

.highlights > div {
    display: flex;
    flex-direction: row;
}

.left div:first-child, .right div:nth-child(2) {
    display: flex;
    flex-grow: 1;
}

.left div { background-color: #f2f2f2; }
.right div { background-color: #e8e8e8; }

.highlights img {
    margin: 0;
    max-width: unset;
    height: 9em;
    display: flex;
}

.highlights span {
    margin: auto;
    padding: 2em;
    font-size: 14pt;
}